<app-menu class="md:w-[20%] block"></app-menu>

<div class="bg-white md:w-[80%] px-6 md:px-20 pt-10 md:pt-20 pb-10 overflow-y-scroll max-h-screen">
    <div class="container mx-auto">
        <h1 class="leading-1 text-5xl">Solicitudes</h1>
        <p class="text-md">Reportes que realizan los trabajadores de camino al trabajo, sobre algun contratiempo</p>

        <div class="mt-6 grid grid-cols-1 md:flex">
            <div class="mt-3 md:mt-0 grid grid-cols-3 md:flex gap-3 order-last md:-order-1">
                <button class="font-bebas text-black text-xl justify-center md:px-8 flex h-fit py-1 bg-verdemun rounded-full" id="boton1" #btnElmPen (click)="filtrarPendiente(btnElmPen)">PENDIENTES</button>
                <button class="font-bebas text-black text-xl justify-center md:px-8 flex h-fit py-1 bg-verdemunfond rounded-full" id="boton2" #btnElmApb (click)="filtrarAprobado(btnElmApb)">APROBADAS</button>
                <button class="font-bebas text-black text-xl justify-center md:px-8 flex h-fit py-1 bg-verdemunfond rounded-full" id="boton3" #btnElmRech (click)="filtrarRechazado(btnElmRech)">RECHAZADAS</button>
            </div>
            <div class="md:ml-auto">
                <form class="flex gap-5 items-center" (ngSubmit)="filtrar()">
                    <select class="appearance-none form-control rounded-xl bg-white shadow-xxs px-5 py-2 font-bebas leading-1" id="mesSelected" name="filtrar">
                        <option
                            *ngFor="let mes of meses"
                            [selected]="mes.nombre === selectMes.nombre"
                            [value]="mes.valor">
                            {{ mes.nombre }}
                            </option>
                      </select>
                    <select class="appearance-none form-control rounded-xl bg-white shadow-xxs px-5 py-2 font-bebas leading-1" id="anioSelected" name="filtrar">
                        <option
                            *ngFor="let anio of anios"
                            [selected]="anio === selectAnio"
                            [value]="anio">
                            {{ anio }}
                            </option>
                      </select>
                    <button class="font-bebas text-black text-xl shadow-xxs px-6 py-1 bg-verdemun rounded-full hover:shadow-none transition-all duration-200 hover:scale-95" type="submit">Filtrar</button>
                </form>
            </div>
        </div>

        <section class="bg-verdemunfond rounded-4xl h-full w-full p-6 md:p-10 mt-8">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-5" *ngIf="cambioPendiente">
                <div *ngFor="let request of listPendiente;" class="bg-white rounded-4xl shadow-xxs md:pr-4 overflow-hidden md:flex">
                    <div class="bg-black md:mr-4 px-1 md:w-10 md:h-full py-2 md:py-0 relative justify-center flex items-center">
                        <p class="md:rotate-90 text-white w-fit h-fit md:my-2 mx-auto justify-center flex items-center font-bebas whitespace-nowrap">{{request.hora}}{{request.horario}}</p>
                    </div>
                    <div class="block px-6 md:px-0 py-5 md:flex w-full gap-5">
                        <div class="w-full mr-auto">
                            <h2 class="text-2xl font-bebas mb-1 text-black">{{request.nombre}}</h2>
                            <div class="rounded-full bg-black px-5 py-1 shadow-xxs justify-center w-fit"><p class="text-white text-sm tex-center">{{request.categoria}}</p></div>
                        </div>
                        <div class="h-full items-center mt-5 md:mt-0 flex">
                            <button class="w-full md:w-fit font-bebas mx-auto text-xl shadow-xxs px-5 py-1 bg-verdemun rounded-full text-black whitespace-nowrap hover:shadow-none transition-all duration-200 hover:scale-95" (click)="detailRequest(request)">VER DETALLE</button>
                        </div>
                    </div>
                </div>  
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-5" *ngIf="cambioAprobado">
                <div *ngFor="let request of listAprobada;" class="bg-white rounded-4xl shadow-xxs md:pr-4 overflow-hidden md:flex">
                    <div class="bg-black md:mr-4 px-1 md:w-10 md:h-full py-2 md:py-0 relative justify-center flex items-center">
                        <p class="md:rotate-90 text-white w-fit h-fit md:my-2 mx-auto justify-center flex items-center font-bebas whitespace-nowrap">{{request.hora}}{{request.horario}}</p>
                    </div>
                    <div class="block px-6 md:px-0 py-5 md:flex w-full gap-5">
                        <div class="w-full mr-auto">
                            <h2 class="text-2xl font-bebas mb-1 text-black">{{request.nombre}}</h2>
                            <div class="rounded-full bg-black px-5 py-1 shadow-xxs justify-center w-fit"><p class="text-white text-sm tex-center">{{request.categoria}}</p></div>
                        </div>
                        <div class="h-full items-center mt-5 md:mt-0 flex">
                            <button class="w-full md:w-fit font-bebas mx-auto text-xl shadow-xxs px-5 py-1 bg-verdemun rounded-full text-black whitespace-nowrap hover:shadow-none transition-all duration-200 hover:scale-95" (click)="detailRequest(request)">VER DETALLE</button>
                        </div>
                    </div>
                </div>  
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-5" *ngIf="cambioRechazado">
                <div *ngFor="let request of listRechazado;" class="bg-white rounded-4xl shadow-xxs md:pr-4 overflow-hidden md:flex">
                    <div class="bg-black md:mr-4 px-1 md:w-10 md:h-full py-2 md:py-0 relative justify-center flex items-center">
                        <p class="md:rotate-90 text-white w-fit h-fit md:my-2 mx-auto justify-center flex items-center font-bebas whitespace-nowrap">{{request.hora}}{{request.horario}}</p>
                    </div>
                    <div class="block px-6 md:px-0 py-5 md:flex w-full gap-5">
                        <div class="w-full mr-auto">
                            <h2 class="text-2xl font-bebas mb-1 text-black">{{request.nombre}}</h2>
                            <div class="rounded-full bg-black px-5 py-1 shadow-xxs justify-center w-fit"><p class="text-white text-sm tex-center">{{request.categoria}}</p></div>
                        </div>
                        <div class="h-full items-center mt-5 md:mt-0 flex">
                            <button class="w-full md:w-fit font-bebas mx-auto text-xl shadow-xxs px-5 py-1 bg-verdemun rounded-full text-black whitespace-nowrap hover:shadow-none transition-all duration-200 hover:scale-95" (click)="detailRequest(request)">VER DETALLE</button>
                        </div>
                    </div>
                </div>  
            </div>
            <app-spinner *ngIf="loading" class="flex justify-center"></app-spinner>
            <h1 *ngIf="listAprobada.length == 0 && cambioAprobado || listRechazado.length == 0 && cambioRechazado || listPendiente.length == 0 && cambioPendiente" class="text-2xl">No hay solicitudes</h1>
        </section>
    </div>
</div>

