<app-menu class="md:w-[20%] block"></app-menu>

<div class="bg-white md:w-[80%] px-6 md:px-20 pt-10 md:pt-20 pb-10 overflow-y-scroll max-h-screen">
    <div class="container mx-auto">
        <h1 class="leading-1 text-5xl">Horas extras</h1>
        <p class="text-md">Reportes que realizan los trabajadores de camino al trabajo, sobre algun contratiempo</p>

        <div class="mt-3 md:mt-6 grid grid-cols-1 md:flex">
            <div class="mt-4 md:mt-0 flex gap-3 order-last md:-order-none">
                <form class="flex gap-5 items-center" (ngSubmit)="filtrar()">
                    <select class="appearance-none form-control rounded-xl bg-white shadow-xxs px-5 py-2 font-bebas leading-1" id="mesSelected" name="filtrar">
                        <option
                            *ngFor="let mes of meses"
                            [selected]="mes.nombre === selectMes.nombre"
                            [value]="mes.valor">
                            {{ mes.nombre }}
                            </option>
                      </select>
                    <select class="appearance-none form-control rounded-xl bg-white shadow-xxs px-5 py-2 font-bebas leading-1" id="anioSelected" name="filtrar">
                        <option
                            *ngFor="let anio of anios"
                            [selected]="anio === selectAnio"
                            [value]="anio">
                            {{ anio }}
                            </option>
                      </select>
                    <button class="font-bebas text-black text-xl shadow-xxs px-6 py-1 bg-verdemun rounded-full hover:shadow-none transition-all duration-200 hover:scale-95" type="submit">Filtrar</button>
                </form>

            </div>
            <div class="md:ml-auto">
                <button class="font-bebas flex text-xl shadow-xxs px-6 py-1 bg-verdemun whitespace-nowrap rounded-full text-black hover:shadow-none transition-all duration-200 hover:scale-95" (click)="crearHoraExtra()">NUEVO PROYECTO +</button>

            </div>
        </div>


        <div>
            <section class="bg-verdemunfond rounded-3xl h-full w-full p-6 md:p-10 mt-8">

                <div class="md:flex mb-7">
                    <div *ngIf="!loading" class="flex gap-3 mb-3 md:mb-0">
                        <h1 class="text-4xl">{{fechaMes.nombre}} AÑO {{fechaAnio}}</h1>
                    </div>
                    <div class="ml-auto md:flex gap-3">
                        <button (click)="descargarExcel()" class="w-full md:w-fit font-bebas text-white text-xl shadow-xxs px-6 py-2 md:py-1 bg-black whitespace-nowrap rounded-full hover:shadow-none transition-all duration-200 hover:scale-95">DESCARGAR RESUMEN</button>
                        <input class="appearance-none mt-3 md:mt-0 w-full md:w-fit shadow-xxs py-3 md:py-1 rounded-full bg-white pl-4 text-sm" type="text" placeholder="Buscar por nombre..." (change)="filtrarNombre()" [(ngModel)]="searchNombre">
                    </div>
                </div>

                <div *ngIf="!cambioList" class="grid grid-cols-1 md:grid-cols-2 gap-5">
                    <!--ITEM PROYECTOS-->
                    <div *ngFor="let hora of listFiltrada;" class="bg-white rounded-4xl shadow-xxs md:pr-4 overflow-hidden md:flex">
                        <div class="bg-black md:mr-4 px-1 md:w-10 md:h-full py-2 md:py-0 relative justify-center flex items-center">
                            <p class="md:rotate-90 text-white w-fit h-fit md:my-2 mx-auto justify-center flex items-center font-bebas whitespace-nowrap">{{hora.hora}}{{hora.horario}}</p>
                        </div>
                        <div class="px-6 md:px-0 py-5 md:flex w-full relative gap-5">
                            <div class="w-full mr-auto relative">
                                <h2 class="text-2xl font-bebas mb-0 text-black">{{hora.nombreProyecto}}</h2>
                                <p class="text-sm mb-1 text-black">{{hora.cantParticipantes}} participantes</p>
                            </div>
                            <div class="h-full items-center flex mt-3 md:mt-0">
                                <button class="w-full md:w-fit font-bebas mx-auto text-xl shadow-xxs px-5 py-1 bg-verdemun rounded-full text-black whitespace-nowrap hover:shadow-none transition-all duration-200 hover:scale-95" (click)="detailHoraExtra(hora)">VER DETALLE</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div *ngIf="cambioList" class="grid grid-cols-1 md:grid-cols-2 gap-5"> 
                    <!--ITEM PROYECTOS-->
                    <div *ngFor="let hora of listFiltradaName;" class="bg-white rounded-4xl shadow-xxs md:pr-4 overflow-hidden md:flex">
                        <div class="bg-black md:mr-4 px-1 md:w-10 md:h-full py-2 md:py-0 relative justify-center flex items-center">
                            <p class="md:rotate-90 text-white w-fit h-fit md:my-2 mx-auto justify-center flex items-center font-bebas whitespace-nowrap">{{hora.hora}}{{hora.horario}}</p>
                        </div>
                        <div class="px-6 md:px-0 py-5 md:flex w-full relative gap-5">
                            <div class="w-full mr-auto relative">
                                <h2 class="text-2xl font-bebas mb-0 text-black">{{hora.nombreProyecto}}</h2>
                                <p class="text-sm mb-1 text-black">{{hora.cantParticipantes}} participantes</p>
                            </div>
                            <div class="h-full items-center flex mt-3 md:mt-0">
                                <button class="w-full md:w-fit font-bebas mx-auto text-xl shadow-xxs px-5 py-1 bg-verdemun rounded-full text-black whitespace-nowrap hover:shadow-none transition-all duration-200 hover:scale-95" (click)="detailHoraExtra(hora)">VER DETALLE</button>
                            </div>
                        </div>
                    </div>
                </div>
                    <!--FIN ITEM PROYECTOS-->
                    

                <app-spinner *ngIf="loading" class="flex justify-center"></app-spinner>
                <h1 *ngIf="listVacia" class="text-2xl">No hay horas extras</h1>
            </section>
        </div>

    </div>
</div>

