<section class="w-full h-[100dvh] bg-black items-end md:items-center flex px-6 py-20 md:p-12">

    <div [ngClass]="{'hidden' : isStart}" class="h-fit md:my-auto justify-start">
        <ng-lottie class="md:hidden w-full "
        width="100%"
        containerClass="w-full moving-box another-class"
        [options]="options"
        (animationCreated)="animationCreated($event)"></ng-lottie>
        <img class="mb-3 h-8 mt-10 w-auto mr-auto" src="./assets/img/lg_dualtron.svg" alt="">
        <h1 class="text-white text-4xl my-6">Hey! Para comenzar necesitamos algunos permisos</h1>
        <button (click)="start()" class="w-full flex md:w-fit font-spaceb justify-center text-center text-white text-2xl md:text-md shadow-xxs px-8 py-2 md:py-1 bg-rojodualtron whitespace-nowrap rounded-full hover:shadow-none transition-all duration-200 hover:scale-95">Comenzar</button>
    </div>

    <div [ngClass]="{'block' : index == 1, 'hidden' : index != 1}">
        <ng-lottie class="md:hidden w-full "
        width="100%"
        containerClass="w-full moving-box another-class"
        [options]="optionsubication"
        (animationCreated)="animationCreated($event)"></ng-lottie>
        <img class="mb-3 h-8 mt-10 w-auto mr-auto" src="./assets/img/lg_dualtron.svg" alt="">
        <h1 class="text-white text-4xl my-6">Necesitamos permisos del mapa</h1>
        <button (click)="this.getLocation()" class="w-full flex md:w-fit font-spaceb justify-center text-center text-white text-2xl md:text-md shadow-xxs px-8 py-2 md:py-1 bg-rojodualtron whitespace-nowrap rounded-full hover:shadow-none transition-all duration-200 hover:scale-95">Solicitar</button>
    </div>

    <div [ngClass]="{'block' : index == 2, 'hidden' : index != 2}">
        <ng-lottie class="md:hidden w-full "
        width="100%"
        containerClass="w-full moving-box another-class"
        [options]="optionscamera"
        (animationCreated)="animationCreated($event)"></ng-lottie>
        <img class="mb-3 h-8 mt-10 w-auto mr-auto" src="./assets/img/lg_dualtron.svg" alt="">
        <h1 class="text-white text-4xl my-6">Necesitamos permisos de la cámara</h1>
        <button (click)="this.getCamera()" class="w-full flex md:w-fit font-spaceb justify-center text-center text-white text-2xl md:text-md shadow-xxs px-8 py-2 md:py-1 bg-rojodualtron whitespace-nowrap rounded-full hover:shadow-none transition-all duration-200 hover:scale-95">Solicitar</button>
    </div>

    <div [ngClass]="{'block' : index == 3, 'hidden' : index != 3}">
        <ng-lottie class="md:hidden w-full "
        width="100%"
        containerClass="w-full moving-box another-class"
        [options]="optionsready"
        (animationCreated)="animationCreated($event)"></ng-lottie>
        <img class="mb-3 h-8 mt-10 w-auto mr-auto" src="./assets/img/lg_dualtron.svg" alt="">
        <h1 class="text-white text-4xl my-6">Todo listo! <br> Ahora puedes comenzar</h1>
        <button (click)="this.router.navigate(['/home']);" class="w-full flex md:w-fit font-spaceb justify-center text-white text-2xl md:text-md shadow-xxs px-8 py-2 md:py-1 bg-rojodualtron whitespace-nowrap rounded-full hover:shadow-none transition-all duration-200 hover:scale-95">Finalizar</button>
    </div>

</section>