<section class="p-1 bg-white">

    <div class="bg-black rounded-4xl p-6 relative">
        <img class="w-auto h-28 mx-auto flex mb-6" src="../../../assets/img/check.svg" alt="">
        <h1 class="text-2xl w-full text-white font-bebas text-center">ENLAZADO A LA {{data}}</h1>
        <h1 class="text-2xl w-full text-verdemun font-bebas text-center">ÉXITOSAMENTE</h1>
        <img (click)="this.dialogRef.close();" class="absolute top-4 right-4 cursor-pointer hover:scale-90 transition-all duration-200 h-6 mr-3 ml-2 w-auto" src="../../../assets/img/cerrar.svg" alt="">
    </div>

</section>