<div class="p-5 overflow-y-scroll">

    <div class="bg-black rounded-3xl p-3 md:flex gap-5">
        <div class="md:flex mr-auto gap-5 items-center">
            <div class="flex md:hidden gap-5 items-center">
                <img (click)="this.dialogRef.close();" class="flex cursor-pointer hover:scale-90 transition-all duration-200 h-6 mr-3 ml-2 w-auto" src="./assets/img/cerrar.svg" alt="">
            </div>
            <div>
                <h1 class="mt-3 md:mt-0 flex text-4xl font-bebas text-white">{{data.datos.datosCliente.nombre}}</h1>
            </div>
        </div>
        <div class="mt-2 md:mt-0 flex gap-3 items-center md:justify-end">
            <img (click)="this.dialogRef.close();" class="hidden md:flex cursor-pointer hover:scale-90 transition-all duration-200 h-6 mr-3 w-auto" src="./assets/img/cerrar.svg" alt="">
        </div>
    </div>

    <div class="flex">
        <div class="w-1/2 px-4">
            <h1 class="text-2xl">Información personal</h1>
            <p>Email: {{data.datos.datosCliente.mail}}</p>
            <p>Rut: {{data.datos.datosCliente.rut}}</p>
            <p>Telefono: {{data.datos.datosCliente.telefono}}</p>
            <p>Estado equipo: {{data.datos.datosProducto.estadoEquipo}}</p>
            <p>Fecha compra: {{data.datos.datosProducto.fechaCompra}}</p>
            <p>Kilometraje: {{data.datos.datosProducto.kilometraje}}</p>
            <p>Modelo: {{data.datos.datosProducto.modeloScooter}}</p>
            <p>Motivo ingreso: {{data.datos.datosProducto.motivoIngreso}}</p>
            <p>Hora agendada: {{data.datos.horaString.hora}}</p>
        </div>

        <div class="w-1/2 px-4">
            <div *ngIf="isIngreso">
                <form (ngSubmit)="saveData()" [formGroup]="form">
                    <h2>Estado estructura:</h2>
                    <label>Quiebre</label>
                    <input type="checkbox" class="checkbox" (change)="llenarInput('quiebre', $event)"/>
                    <input type="text" class="border" formControlName="quiebre"/><br>

                    <label>Rayones</label>
                    <input type="checkbox" class="checkbox" (change)="llenarInput('rayones', $event)"/>
                    <input type="text" class="border" formControlName="rayones"/><br>

                    <h2>Presión neumático:</h2>
                    <label>Pinchado</label>
                    <input type="checkbox" class="checkbox" (change)="llenarInput('neumaticoPinchado', $event)"/>
                    <input type="text" class="border" formControlName="neumaticoPinchado"/><br>

                    <label>Estable</label>
                    <input type="checkbox" class="checkbox" (change)="llenarInput('neumaticoEstable', $event)"/>
                    <input type="text" class="border" formControlName="neumaticoEstable"/>

                    <h2>Focos y luces:</h2>
                    <label>Quemado</label>
                    <input type="checkbox" class="checkbox" (change)="llenarInput('luzQuemada', $event)"/>
                    <input type="text" class="border" formControlName="luzQuemada"/>

                    <h2>Bocina:</h2>
                    <label>Funcional</label>
                    <input type="checkbox" class="checkbox" (change)="llenarInput('bocinaFuncional', $event)"/>
                    <input type="text" class="border" formControlName="bocinaFuncional"/>
            
                    <h2>Amortiguación:</h2>
                    <label>Quebrado</label>
                    <input type="checkbox" class="checkbox" (change)="llenarInput('amortiguacionQuebrada', $event)"/>
                    <input type="text" class="border" formControlName="amortiguacionQuebrada"/>

                    <h2>Display:</h2>
                    <label>Quemado/Quebrado</label>
                    <input type="checkbox" class="checkbox" (change)="llenarInput('displayQuemado', $event)"/>
                    <input type="text" class="border" formControlName="displayQuemado"/>
            
                    <h2>Motor:</h2>
                    <label>Funcional</label>
                    <input type="checkbox" class="checkbox" (change)="llenarInput('motorFuncional', $event)"/>
                    <input type="text" class="border" formControlName="motorFuncional"/>

                    <h2>Cableado:</h2>
                    <label>Cortado:</label>
                    <input type="checkbox" class="checkbox" (change)="llenarInput('cableadoCortado', $event)"/>
                    <input type="text" class="border" formControlName="cableadoCortado"/>

                    <br>
                    <label>Manillares/Sistema Frenos:</label>
                    <input type="text" class="border" formControlName="manillaresFrenos"/>

                    <br>
                    <label>Comentario</label>
                    <textarea class="border" rows="1" formControlName="comentario"></textarea>

                    <br>
                    <label>Facturable:</label>
                    <input type="checkbox" class="border" formControlName="isFactura"/>
                    <br>
                    <div class="bg-black rounded-full py-2 px-2">
                        <button type="submit" class="text-white font-bebas w-full text-center text-xl">Guardar</button>
                    </div>
                </form>
            </div>
            <div *ngIf="isRevision">
                <p>{{data.datos.revisiones.amortiguacionQuebrada}}</p>
                <p>{{data.datos.revisiones.bocinaFuncional}}</p>
                <p>{{data.datos.revisiones.cableadoCortado}}</p>
                <p>{{data.datos.revisiones.displayQuemado}}</p>
                <p>{{data.datos.revisiones.luzQuemada}}</p>
                <p>{{data.datos.revisiones.manillaresFrenos}}</p>
                <p>{{data.datos.revisiones.motorFuncional}}</p>
                <p>{{data.datos.revisiones.neumaticoEstable}}</p>
                <p>{{data.datos.revisiones.neumaticoPinchado}}</p>
                <p>{{data.datos.revisiones.quiebre}}</p>
                <p>{{data.datos.revisiones.rayones}}</p>
        
                <textarea cols="30" rows="10" [(ngModel)]="diagnostico"></textarea>        
                <div class="bg-black rounded-full py-2 px-2">
                    <button (click)="changeState()" class="text-white font-bebas w-full text-center text-xl">Comenzar diagnostico</button>
                </div>
            </div>
        </div>
    </div>
</div>