<section class="p-6 overflow-y-scroll">

    <div *ngIf="valorQr=='entrada'">
        <h1 class="text-2xl font-bebas">Marcando entrada a oficina - {{hora}}</h1>

        <div class="aspect-square w-full relative">

            <ngx-scanner-qrcode [device]="'environment'" class="h-full" #ac="scanner" (event)="entrada($event)" [config]="this.config" ></ngx-scanner-qrcode>
                    
            <div class="bg-black rounded-full py-2 w-auto absolute bottom-3 left-3 right-3">
                <button class="text-white font-bebas w-full text-center text-2xl">Escanea el código qr aquí</button>
            </div>

        </div>
    </div>

    <div *ngIf="valorQr=='salida'">
        <h1 class="text-2xl font-bebas">Marcando salida de oficina - {{hora}}</h1>

        <div class="aspect-square w-full relative">

            <ngx-scanner-qrcode #ac="scanner" (event)="salida($event)" [config]="this.config"></ngx-scanner-qrcode>
                    
            <div class="bg-black rounded-full py-2 w-auto absolute bottom-3 left-3 right-3">
                <button class="text-white font-bebas w-full text-center text-2xl">Escanea el código qr aquí</button>
            </div>

        </div>
    </div>

    <div *ngIf="valorQr=='horaextra'">
        <h1 class="text-2xl font-bebas">Enlazandote a una hora extra</h1>

        <div class="aspect-square w-full relative">

            <ngx-scanner-qrcode #ac="scanner" (event)="horaExtra($event)" [config]="this.config" ></ngx-scanner-qrcode>
                    
            <div class="bg-black rounded-full py-2 w-auto absolute bottom-3 left-3 right-3">
                <button class="text-white font-bebas w-full text-center text-2xl">Escanea el código qr aquí</button>
            </div>

        </div>
    </div>

</section>