<app-menu class="md:w-[20%] block"></app-menu>

<div class="bg-white md:w-[80%] px-6 md:px-20 pt-10 md:pt-20 pb-10 overflow-y-scroll max-h-screen">
    <div *ngIf="!loading" class="container mx-auto">
        <h1 class="leading-1 text-5xl">Bienvenido Munsac!</h1>
        <p>{{fecha}}</p>
        <div class="pt-4">
            <div class="p-4 rounded-3xl text-white bg-black text-2xl font-bebas" role="alert">
                {{cantUrgentes}} Nueva(s) solicitud(es) urgente(s)
            </div>
        </div>
    
        <div class="pt-5 grid grid-cols-1 md:grid-cols-2 gap-5">
            <a routerLink="/reports" class="block py-10 px-6 rounded-3xl bg-verdemunfond shadow-min hover:shadow-none transition-all duration-200 hover:scale-95">
                <div class="grid grid-cols-2 gap-2 items-center">
                    <h2 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-black card-title font-bebas leading-1">Reportes de<br>hoy</h2>
                    <h2 class="text-verdemun text-8xl ml-auto font-bebas">{{cantReports}}</h2>
                </div>
            </a>
        
            <a routerLink="/requests" class="block py-10 px-6 rounded-3xl bg-verdemunfond shadow-min hover:shadow-none transition-all duration-200 hover:scale-95">
                <div class="grid grid-cols-2 gap-2 items-center">
                    <h2 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-black card-title font-bebas">Solicitudes<br>sin leer</h2>
                    <div class="text-verdemun text-8xl ml-auto font-bebas">{{cantRequests}}</div>
                </div>
            </a> 
        </div>
    </div>
    <app-spinner *ngIf="loading" class="flex justify-center"></app-spinner>
</div>