<div class="grid grid-cols-1 gap-3 p-5">
    <div class="bg-black rounded-full p-3" *ngIf="isPostVenta || isServicioTecnico || isTI">
        <button class="text-white font-spaceb w-full text-center text-xl" (click)="scannerSt()">Escanear QR de ingreso</button>
    </div>
    <div class="bg-black rounded-full p-3" *ngIf="isPostVenta || isServicioTecnico || isTI">
        <button class="text-white font-spaceb w-full text-center text-xl" (click)="searchScooter()">Escanear QR de scooter</button>
    </div>
</div> 