<section class="bg-black px-6 md:px-10 py-4 md:py-6">

    <div class="flex items-center">
        <img class="w-auto mr-auto h-5 md:h-6" src="../../../assets/img/lg_munsaccontrol.svg" alt="img">
        <div class="w-auto bg-negrobox rounded-full p-2 flex gap-5 pl-5 items-center transition-all duration-200 hover:scale-95 cursor-pointer">
            <p class="text-white text-xs md:text-md">{{nombreCompleto}}</p>
            <img class="w-auto mr-auto h-4 md:h-6" src="../../../assets/img/ic_user.svg" alt="img">
        </div>
    </div>

    <div *ngIf="!loading" class="my-16 md:my-24 md:px-12">
        <h1 class="text-white text-5xl md:text-6xl">BIENVENID@ {{primerNombre}}!</h1>

        <div class="grid grid-cols-1 md:grid-cols-4 mt-8 md:mt-12 gap-6">
            <div routerLink="/home" *ngIf="miMunsac" class="bg-negrobox rounded-4xl py-6 md:py-10 justify-center shadow-wht transition-all duration-200 hover:scale-95 cursor-pointer hover:shadow-none">
                <div class="w-36 flex mx-auto justify-center items-center aspect-square rounded-4xl shadow-xxs bg-black">
                    <img class="w-auto m-auto h-14 md:h-14" src="../../../assets/img/ic_mimunsacempleado.svg" alt="img">
                </div>
                <h1 class="text-white font-bebas text-3xl text-center mt-6">MI MUNSAC - EMPLEADO</h1>
            </div>

            <div *ngIf="munsacAyuda" class="bg-negrobox rounded-4xl py-6 md:py-10 justify-center shadow-wht transition-all duration-200 hover:scale-95 cursor-pointer hover:shadow-none">
                <div class="w-36 flex mx-auto justify-center items-center aspect-square rounded-4xl shadow-xxs bg-black">
                    <img class="w-auto m-auto h-14 md:h-14" src="../../../assets/img/ic_munsacayuda.svg" alt="img">
                </div>
                <h1 class="text-white font-bebas text-3xl text-center mt-6">MUNSAC AYUDA</h1>
            </div>
            
            <div *ngIf="munsacEnvios" class="bg-negrobox rounded-4xl py-6 md:py-10 justify-center shadow-wht transition-all duration-200 hover:scale-95 cursor-pointer hover:shadow-none">
                <div class="w-36 flex mx-auto justify-center items-center aspect-square rounded-4xl shadow-xxs bg-black">
                    <img class="w-auto m-auto h-14 md:h-14" src="../../../assets/img/ic_munsacenvios.svg" alt="img">
                </div>
                <h1 class="text-white font-bebas text-3xl text-center mt-6">MUNSAC ENVIOS</h1>
            </div>

            <div *ngIf="munsacPV" class="bg-negrobox rounded-4xl py-6 md:py-10 justify-center shadow-wht transition-all duration-200 hover:scale-95 cursor-pointer hover:shadow-none">
                <div class="w-36 flex mx-auto justify-center items-center aspect-square rounded-4xl shadow-xxs bg-black">
                    <img class="w-auto m-auto h-14 md:h-14" src="../../../assets/img/ic_munsacpv.svg" alt="img">
                </div>
                <h1 class="text-white font-bebas text-3xl text-center mt-6">MUNSAC PV</h1>
            </div>

            <div *ngIf="webMunsac" class="bg-negrobox rounded-4xl py-6 md:py-10 justify-center shadow-wht transition-all duration-200 hover:scale-95 cursor-pointer hover:shadow-none">
                <div class="w-36 flex mx-auto justify-center items-center aspect-square rounded-4xl shadow-xxs bg-black">
                    <img class="w-auto m-auto h-14 md:h-14" src="../../../assets/img/ic_munsacweb.svg" alt="img">
                </div>
                <h1 class="text-white font-bebas text-3xl text-center mt-6">WEB MUNSAC</h1>
            </div>

        </div>

    </div>
    <app-spinner *ngIf="loading" class="flex justify-center"></app-spinner>

</section>
